<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    <title>SDLC on the Blockchain!</title>
  </head>
  <body>
      <h1 class="center">Welcome to SDLC on the Blockchain!</h1>
      <br/>
      <div id="welcome_icons">
        <div class="row content">
          <div class="col s6"><a href="company"><div class="circle-text">Company</div></a></div>
          <div class="col s6"><a href="engineer"><div class="circle-text">Engineering</div></a></div>
        </div>
        <div class="row content">
          <div class="col s6"><a href="tester"><div class="circle-text">Testing</div></a></div>
          <div class="col s6"><a href="deployment"><div class="circle-text">Deployment</div></a></div>
        </div>
        <div>
          <div class="col s6"><a href="customer"><div class="circle-text">Customer</div></a></div>
        </div>
      </div>

      <div class="center">
        <h5>A web-application made with Python & MaterializeCSS.</h5>
      </div>
  </body>
</html>
